<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time-leaf template</title>
</head>
<body>
<h1>Teacher List:</h1>
<table>
    <tr>
        <th> Primary id</th>
        <th> teacher id</th>
        <th> Teacher name</th>
    </tr>
    <tr th:each="teacher:${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.teacherId}"></td>
        <td th:text="${teacher.teacherName}"></td>
    </tr>
</table>
</body>
</html>