<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        :required{
            box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
        }

        .form-group.required .control-label:after {
            content:"*";
            color:red;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="pa4 black-80" th:object="${recipeForm}" th:action="@{/saveRecipie/}" th:method="POST" method="post" action="http:\\localhost"  enctype="multipart/form-data">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:field="*{recipieId}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Recipe Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="control-label">Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="control-label">Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label class="control-label">Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}" />
                                    <span class="help-block" th:if="${#fields.hasErrors('source')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label class="control-label">Difficulty:</label>
<!--                                    <select class="form-control" th:field="*{difficulty}" >-->
<!--                                        <option th:value="${difficulty}">Easy</option>-->
<!--                                        <option th:value="${difficulty}">Medium</option>-->
<!--                                        <option th:value="${difficulty}">Hard</option>-->
<!--                                    </select>-->

                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue:${T(com.udemySpringExample1.udemySpringExample1.recipieApp.Constants.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name()}">val</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="control-label">URL:</label>
                                    <input type="text" required class="form-control" th:field="*{url}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>

                                </div>
                                <div class="col-md-5 form-group">
                                    <label class="control-label">Preparation Time:</label>
                                    <input type="text" required class="form-control" th:field="*{preparationTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('preparationTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('preparationTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Upload Recipe Image:</label><br><br>
                                    <input id="imagefile" name="imagefile" type="file" class="file" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title control-label">Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea required class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title control-label">Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea required class="form-control" rows="3" th:field="*{notesDO.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary f6 link dim br-pill ph3 pv2 mb2 dib white bg-navy">Submit</button>


            </form>
        </div>
    </div>
    <p>
        <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-navy" href="#" th:href="@{'/index'}"> Return to Home </a>
    </p>
</div>
</body>
</html>