<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipie Detail</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<hr>
<h1 class="f4 bg-near-black white mv0 pv2 ph3">Recipe Details</h1>
<h1 th:text="${recipie.description}"></h1>
<table style="border: solid 2px springgreen" class="table table-striped table hover">
    <thead class="thead-dark"><tr>
        <th>ID</th>
        <th>Difficulty</th>
        <th>Prep. Time</th>
        <th>Recipe Source</th>
        <th>Recipe Url</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${recipie.id}">123</td>
        <td th:text="${recipie?.difficulty}">difficulty</td>
        <td th:text="${recipie?.prepTime}">Servings</td>
        <td th:text="${recipie?.source}">Source</td>
        <td th:text="${recipie?.description}">URL</td>
    </tr>
</table>

<article class="center mw5 mw6-ns hidden ba mv4" style="max-width: 35rem">
    <h1 class="f4 bg-near-black white mv0 pv2 ph3">Recipie Description</h1>
    <div class="pa3 bt">
        <p class="f6 f5-ns lh-copy measure mv0" th:text="${recipie?.directions}">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum.
        </p>
    </div>
</article>

<article class="center mw5 mw6-ns hidden ba mv4" style="max-width: 35rem">
    <h1 class="f4 bg-near-black white mv0 pv2 ph3">Recipie Notes</h1>
    <div class="pa3 bt">
        <p class="f6 f5-ns lh-copy measure mv0" th:text="${recipie?.notes?.recipieNotes}">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum.
        </p>
    </div>
</article>
<article class="center mw5 mw6-ns hidden ba mv4" style="max-width: 35rem">
    <h1 class="f4 bg-near-black white mv0 pv2 ph3">Recipie Category</h1>
    <div class="pa3 bt">
        <p class="f6 f5-ns lh-copy measure mv0" >
            <ul>
        <li th:each="category : ${recipie.categories}" th:text="${category.getCategoryName()}"></li>
    </ul>
        </p>
    </div>
</article>
<article class="center mw5 mw6-ns hidden ba mv4" style="max-width: 35rem">
    <h1 class="f4 bg-near-black white mv0 pv2 ph3">Recipie Ingredients</h1>
    <div class="pa3 bt">
        <p class="f6 f5-ns lh-copy measure mv0" >
        <ul>
            <li th:each="ingredient : ${recipie.ingredients}" th:text="${ingredient.getAmount() + ' ' + ingredient.unitOfMeasure.getUom() + ' ' + ingredient.getDescription()}"></li>
        </ul>
        </p>
    </div>
</article>
<p>
    <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-navy" href="#" th:href="@{'/index'}"> Return to Home </a>
</p>
</body>
</html>